@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-shadow: none!important;
  border-radius: 0!important;
}

.SlideHeader {
  display:flex;
  align-items:center;
  justify-content: center;
  background: transparent!important;
  padding: 1rem .25rem!important;
}

.SlideHeader * {
  background: white!important;
  color: "#004A98"!important;
}

.MatchRow.MatchListTitle {
  display:none !important;
}